img {
    max-width: 70%;
    max-height: 70%;
    margin: 16px 0px 16px 16px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 31%), 0 6px 20px 0 rgb(0 0 0 / 27%);
}

.imagecontainer {
    height: 100%;
    width: 100%;
}

svg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#acircle,
#aline,
#aline1,
#arect,
#atext {
    visibility: hidden;
}

#bcircle,
#bline,
#bline1,
#brect,
#btext {
    visibility: hidden;
}

#cdefg1circle,
#cdefg1line,
#cdefg2circle,
#cdefg2line,
#cdefg3circle,
#cdefg3line,
#cdefg4circle,
#cdefg4line,
#cdefg5circle,
#cdefg5line,
#cdefg6line,
#cdefg7line,
#cdefgrect,
#cdefgtext {
    visibility: hidden;
}

#hcircle,
#hline,
#icircle,
#iline,
#jcircle,
#jline,
#hijline,
#hijrect,
#hijtext {
    visibility: hidden;
}

#kcircle,
#kline,
#krect,
#ktext {
    visibility: hidden;
}

#showallrect,
#showalltext {
    cursor: pointer;
}

.infocontainer {
    width: 100%;
    height: 46px;
    z-index: 2;
    color: green;
    background-color: aliceblue;
    position: absolute;
}

.innerinfocontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding: 8px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.divfora {
    width: 18px;
    height: 18px;
    background-color: chartreuse;
    border-radius: 10px;
    position: absolute;
    top: 265px;
    left: 310px;
    opacity: 0;
    cursor: pointer;
}

.divforb {
    width: 18px;
    height: 18px;
    background-color: aqua;
    border-radius: 10px;
    position: absolute;
    top: 295px;
    left: 425px;
    opacity: 0;
    cursor: pointer;
}

.cdefg1 {
    width: 18px;
    height: 18px;
    background-color: blue;
    border-radius: 10px;
    position: absolute;
    top: 276px;
    left: 593px;
    opacity: 0;
    cursor: pointer;
}

.cdefg2 {
    width: 18px;
    height: 18px;
    background-color: blueviolet;
    border-radius: 10px;
    position: absolute;
    top: 211px;
    left: 520px;
    opacity: 0;
    cursor: pointer;
}

.cdefg3 {
    width: 18px;
    height: 18px;
    background-color: brown;
    border-radius: 10px;
    position: absolute;
    top: 364px;
    left: 559px;
    opacity: 0;
    cursor: pointer;
}

.cdefg4 {
    width: 18px;
    height: 18px;
    background-color: chocolate;
    border-radius: 10px;
    position: absolute;
    top: 208px;
    left: 632px;
    opacity: 0;
    cursor: pointer;
}

.cdefg5 {
    width: 18px;
    height: 18px;
    background-color: crimson;
    border-radius: 10px;
    position: absolute;
    top: 171px;
    left: 528px;
    opacity: 0;
    cursor: pointer;
}

.hij1 {
    width: 18px;
    height: 18px;
    background-color: darkgoldenrod;
    border-radius: 10px;
    position: absolute;
    top: 287px;
    left: 74px;
    opacity: 0;
    cursor: pointer;
}

.hij2 {
    width: 18px;
    height: 18px;
    background-color: darkgreen;
    border-radius: 10px;
    position: absolute;
    top: 352px;
    left: 94px;
    opacity: 0;
    cursor: pointer;
}

.hij3 {
    width: 18px;
    height: 18px;
    background-color: yellow;
    border-radius: 10px;
    position: absolute;
    top: 394px;
    left: 342px;
    opacity: 0;
    cursor: pointer;
}

.divfork {
    width: 18px;
    height: 18px;
    background-color: violet;
    border-radius: 10px;
    position: absolute;
    top: 76px;
    left: 142px;
    opacity: 0;
    cursor: pointer;
}

@media only screen and (max-width: 400px) {

    .helpdiv{
        width: 100%;
        position: absolute;
        top: 23px;
        left: 302px;
    }

    .mat-raised-button{
        padding: 0px;
        border-radius: 20px;
        background-color: gold;
        margin-right: 5px;
        z-index: 2;
    }
    
    img {
        max-width: 100%;
        max-height: 100%;
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 31%), 0 6px 20px 0 rgb(0 0 0 / 27%);
        margin: 0px;
        position: absolute;
        top: 156px;
        left: 0px;
    }

    svg {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100vh;
    }

    #xsmallacircle,
    #xsmallaline,
    #xsmallaline1,
    #xsmallarect,
    #xsmallatext {
        visibility: hidden;
    }

    #xsmallbcircle,
    #xsmallbline,
    #xsmallbline1,
    #xsmallbrect,
    #xsmallbtext {
        visibility: hidden;
    }

    #xsmallcdefg1circle,
    #xsmallcdefg1line,
    #xsmallcdefg2circle,
    #xsmallcdefg2line,
    #xsmallcdefg3circle,
    #xsmallcdefg3line,
    #xsmallcdefg4circle,
    #xsmallcdefg4line,
    #xsmallcdefg5circle,
    #xsmallcdefg5line,
    #xsmallcdefg6line,
    #xsmallcdefg7line,
    #xsmallcdefgrect,
    #xsmallcdefgtext {
        visibility: hidden;
    }

    #xsmallhcircle,
    #xsmallhline,
    #xsmallicircle,
    #xsmalliline,
    #xsmalljcircle,
    #xsmalljline,
    #xsmallhijline,
    #xsmallhijrect,
    #xsmallhijtext {
        visibility: hidden;
    }

    #xsmallkcircle,
    #xsmallkline,
    #xsmallkrect,
    #xsmallktext {
        visibility: hidden;
    }

    #xsmallshowallrect,
    #xsmallshowalltext {
        cursor: pointer;
    }

    .xsmalldivfora {
        width: 18px;
        height: 18px;
        background-color: chartreuse;
        border-radius: 10px;
        position: absolute;
        top: 241px;
        left: 175px;
        opacity: 1;
        cursor: pointer;
    }

    .xsmalldivforb {
        width: 18px;
        height: 18px;
        background-color: aqua;
        border-radius: 10px;
        position: absolute;
        top: 295px;
        left: 425px;
        opacity: 0;
        cursor: pointer;
    }

    .xsmallcdefg1 {
        width: 18px;
        height: 18px;
        background-color: blue;
        border-radius: 10px;
        position: absolute;
        top: 276px;
        left: 593px;
        opacity: 0;
        cursor: pointer;
    }

    .xsmallcdefg2 {
        width: 18px;
        height: 18px;
        background-color: blueviolet;
        border-radius: 10px;
        position: absolute;
        top: 211px;
        left: 520px;
        opacity: 0;
        cursor: pointer;
    }

    .xsmallcdefg3 {
        width: 18px;
        height: 18px;
        background-color: brown;
        border-radius: 10px;
        position: absolute;
        top: 364px;
        left: 559px;
        opacity: 0;
        cursor: pointer;
    }

    .xsmallcdefg4 {
        width: 18px;
        height: 18px;
        background-color: chocolate;
        border-radius: 10px;
        position: absolute;
        top: 208px;
        left: 632px;
        opacity: 0;
        cursor: pointer;
    }

    .xsmallcdefg5 {
        width: 18px;
        height: 18px;
        background-color: crimson;
        border-radius: 10px;
        position: absolute;
        top: 171px;
        left: 528px;
        opacity: 0;
        cursor: pointer;
    }

    .xsmallhij1 {
        width: 18px;
        height: 18px;
        background-color: darkgoldenrod;
        border-radius: 10px;
        position: absolute;
        top: 287px;
        left: 74px;
        opacity: 0;
        cursor: pointer;
    }

    .xsmallhij2 {
        width: 18px;
        height: 18px;
        background-color: darkgreen;
        border-radius: 10px;
        position: absolute;
        top: 352px;
        left: 94px;
        opacity: 0;
        cursor: pointer;
    }

    .xsmallhij3 {
        width: 18px;
        height: 18px;
        background-color: yellow;
        border-radius: 10px;
        position: absolute;
        top: 394px;
        left: 342px;
        opacity: 0;
        cursor: pointer;
    }

    .xsmalldivfork {
        width: 18px;
        height: 18px;
        background-color: violet;
        border-radius: 10px;
        position: absolute;
        top: 76px;
        left: 142px;
        opacity: 0;
        cursor: pointer;
    }
}

