<div class="imagecontainer">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
        <circle #acircle id="acircle" _ngcontent-gna-c118="" cx="276" cy="237" r="10" fill="red"></circle>
        <line #aline id="aline" _ngcontent-rhx-c118="" x1="276" y1="237" x2="600" y2="235" stroke="red" stroke-width="5"></line>

        <circle id="bcircle" _ngcontent-mwk-c118="" _ngcontent-gna-c118="" cx="371" cy="261" r="10" fill="red"></circle>
        <line id="bline" _ngcontent-mwk-c118="" x1="371" y1="261" x2="600" y2="260" stroke="red" stroke-width="5"></line>


    </svg>
    <img #matcardimage src="../../assets/SolarPanelParts.jpg" mat-card-image>
    <div (click)="makeAvisible(acircle,aline)" class="divfora"></div>
</div>
