.visualisebox {
    background-color: #DDBDF1;
}

.container {
    width: 100%;
}

.titleul {
    background-color: lightskyblue;
    display: flex;
    justify-content: space-between;
    margin: 1px 2px;
}

.titleul li {
    list-style-type: none;
    padding: 11px;
    color: white;
}

.employeelistul {
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;
    margin: 1px 2px;
}

.employeelistul li {
    padding: 5px;
    list-style: none;
}

mat-icon {
    color: #673ab7;
    cursor: pointer;
}

.addemployecontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.addemployeebutton {
    background-color: lightgreen;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addemployeebutton:hover {
    opacity: 0.5;
}

.modal-container {
    display: none;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.matformfieldcontainer {
    display: flex;
    flex-direction: column;
}

